@using ChoNongSan.ViewModels.Common

@using ChoNongSan.ViewModels.Responses
@using ChoNongSan.ApiUsedForWeb.ViewModels

@model HomeTabVm

@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = ViewBag.AccountId;
}

<div class="product-area section-space-top-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <input hidden value="@id" id="AccountId" />
                <ul class="nav product-tab-nav pb-10" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a href="/Home/Index?tabname=0" class="@(Model.ActiveTab == 0 ? "active" : string.Empty)">
                            <div class="product-tab-icon rounded-circle img-thumbnail  p-0" style="border: 3px solid #40AA54; background-color: #e3f0de; margin-bottom: 15px">
                                <img style="margin:15px;height:66px; width:66px" src="~/assetsKH/images/icon-all-raucuqua-removebg.png" />
                            </div>
                            Tất cả
                        </a>
                    </li>
                    @foreach (var i in Model.ListCat)
                    {
                        <li class="nav-item" role="presentation">
                            <a href="/Home/Index?tabname=@i.CategoryID" class="@(Model.ActiveTab == i.CategoryID ? "active" : string.Empty)">
                                <div class="product-tab-icon rounded-circle img-thumbnail  p-0" style="border: 3px solid #40AA54; background-color: #e3f0de; margin-bottom: 15px">
                                    <img style="margin:15px;height:66px; width:66px" src="@i.Image" alt="Product Icon">
                                </div>
                                @i.CateName
                            </a>
                        </li>
                    }
                </ul>

                <div class="tab-content " id="myTabContent">
                    <div class="tab-pane fade show active" id="all-items" role="tabpanel" aria-labelledby="all-items-tab">
                        <div class="product-item-wrap row">
                            @if (Model.Data.Items.Count == 0)
                            {
                                <h2 class="text-center my-5" style="color:#d0021b; font-family: Playfair Display, serif"> Danh mục này chưa có tin đăng.</h2>
                            }
                            else
                            {
                                @foreach (var item in Model.Data.Items)
                                {
                                    item.ImageDefault = ViewBag.ApiUrl + item.ImageDefault;
                                    <div class="col-xl-3 col-lg-4 col-sm-6 pt-6 pt-sm-0 ">
                                        <div class="product-item">
                                            <div class="product-img img-zoom-effect">
                                                <a href="single-product.html" style="display:flex">
                                                    <img style="margin:auto;width:262px; height:291px" class="img-thumbnail img-full" src="@item.ImageDefault" alt="@item.ProductName">
                                                </a>
                                                <div class="product-add-action">
                                                    <ul>
                                                        <li>
                                                            <a name="@item.PostID" href="javascript:void(0)" class="btnAddLove rounded">
                                                                <i class="pe-7s-like"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <a class="product-name" href="single-product.html">@item.Title</a>
                                                <div class="price-box pb-1">
                                                    <strong class="new-price font-weight-bold" style="color: #d0021b; ">@(item.Price.Value.ToString("N0") + " VNĐ" )</strong>
                                                </div>
                                                <div class="price-box pb-1">
                                                    <span class="new-price">@(item.TimePost.Value.ToShortDateString())</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div style="display: flex;">
                    <div style="margin:auto">
                        @await Component.InvokeAsync("Pager", Model.Data)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">

        $(function () {
            $('.btnAddLove').click(function () {
                var a = $(this).attr('name');
                const id = $('#AccountId').val();
                if (id == 0) {
                    alert("Vui lòng đăng nhập để thêm tin");
                } else {
                    $.ajax({
                    type: 'post',
                    url: '@Url.Action("AddlovePost", "QuanLyTinDang")',
                    contentType: "application/json",
                    data: JSON.stringify(a),
                    dataType: "json",
                    success: function (result) {
                        output = JSON.parse(result);
                        alert(output.message);
                    }
                });
                }

            });
        });
    </script>
}