@using ChoNongSan.ViewModels.Responses

@model AccountVm

@{
    ViewData["Title"] = "Tài khoản";
}
<div class="tab-pane fade show active" id="account-dashboard">
    <div class="myaccount-dashboard">
        <p>
            @if (String.IsNullOrEmpty(Model.FullName))
            {
                Model.FullName = Model.UserName;
            }
            Xin chào <b>@Model.FullName</b> (Nếu bạn không phải @Model.FullName? vui lòng <a href="/User/Logout">
                Đăng xuất
            </a>)
        </p>
        <p>
            Từ trang tổng quát của tài khoản bạn có thể <a href="/User/Update">cập nhật thông tin</a>
            hoặc <a href="/User/ChangePass">mật khẩu</a> của mình một cách dễ dàng.
        </p>
    </div>

    <div class="myaccount-details p-3 mt-3 mt-lg-3 border rounded">
            <div class="myaccount-form-inner row">
                <div class="col-lg-4 col-12 d-flex align-items-center" style="flex-direction:column">
                    <div >
                        <img style="width:100px; height:100px" class="rounded-circle img-thumbnail" src="@Model.Avatar" />
                    </div>
                    <div class="mt-3 mb-3" >@Html.DisplayNameFor(model => model.Avatar)</div>
                </div>
                <div class="row col-lg-8 col-12">
                    
                    <div class="col-lg-4 col-12 text-end" >
                        <b >@Html.DisplayNameFor(model => model.FullName)</b>
                    </div>
                    <div class="col-lg-8 col-12 text-wrap pb-2">
                        @Model.FullName
                    </div>
                    <div class="col-lg-4 col-12 text-end" >
                        <b >@Html.DisplayNameFor(model => model.PhoneNumber)</b>
                    </div>
                    <div class="col-lg-8 col-12 text-wrap pb-2">
                        @Model.PhoneNumber
                    </div>
                    <div class="col-lg-4 col-12 text-end" >
                        <b >@Html.DisplayNameFor(model => model.Email)</b>
                    </div>
                    <div class="col-lg-8 col-12 text-wrap pb-2">
                        @Model.Email
                    </div>
                    <div class="col-lg-4 col-12 text-end" >
                        <b >@Html.DisplayNameFor(model => model.Address)</b>
                    </div>
                    <div class="col-lg-8 col-12 text-wrap pb-2">
                        @Model.Address
                    </div>
                </div>
            </div>
    </div>
</div>