@using System.Globalization;
@using ChoNongSan.ViewModels.Common

@model PageResult<ChoNongSan.ViewModels.Responses.NapTienVm>

@{
	ViewData["Title"] = "LichSuNapTien";
	Layout = "~/Views/Shared/_Layout.cshtml";
	decimal sodu = ViewBag.SoDu;
}

<style>
	div.col-12.col-lg-6 a:hover {
		color: #40AA54;
	}

	.chucuatoi {
		font-family: 'FontAwesome', Arial, sans-serif;
	}
</style>
<div class="product-area section-space-top-100 pb-10">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-12" style="background-color:#f1f1f1">
				<h4 class="my-2 text-uppercase" style="font-family: Arial, sans-serif">Số dư tài khoản</h4>
			</div>
			<div class="my-3">
				<div class="col-lg-12 d-flex align-items-center justify-content-between rounded" style="border: 2px solid #f1f1f1">
					<div class="d-flex align-items-center mb-2">

						<img class="ms-3 rounded-circle" src="~/assetsKH/icon/icon-vnd.png" style="width:55px; height:55px" />
						<div class="ms-3 ">
							<p class="mt-2 mb-0">Số dư tài khoản</p>
							<b class="font-size-20 mb-1">@(sodu.ToString("C0", CultureInfo.GetCultureInfo("vi-VN")))</b>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12" style="background-color:#f1f1f1">
				<h4 class="my-2 text-uppercase" style="font-family: Arial, sans-serif">Lịch sử nạp tiền</h4>
			</div>
			<div class="mt-lg-10 mt-5 col-12 row d-flex align-items-center" style="flex-direction:column">

				@if (Model.Items.Count != 0)
				{
					<form action="javascript:void(0)">
						<div class="table-content table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th class="product-thumbnail">Ảnh xác nhận</th>
										<th class="cart-product-name">Cách nạp</th>
										<th class="product-price">Số tiền</th>
										<th class="product-price">Thời gian</th>
										<th class="product-price">Trạng thái</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model.Items)
									{
									<tr>
										<td class="product-thumbnail">
											<a href="@item.anhnaptien" target="_blank">
												<img style="width:112px; height:124px" src="@item.anhnaptien" alt="Cart Thumbnail">
											</a>
										</td>
										@if (item.Cachnap.Contains("CK"))
										{
											<td class="product-name"><a href="javascript:void(0)">Chuyển khoản</a></td>
										}
										else
										{
											<td class="product-name"><a href="javascript:void(0)">Tin nhắn</a></td>
										}
										<td class="product-price"><span class="amount">@(item.Sotien.ToString("C0", CultureInfo.GetCultureInfo("vi-VN")))</span></td>
										<td class="product-price"><span class="amount">@(item.Time.ToString("HH:mm dd/MM/yyyy"))</span></td>
										@if (item.Status == 0)
										{
											<td class="product-price"><span class="amount" style="font-weight:bold">Chờ xét duyệt</span></td>
										}
										else if (item.Status == 1)
										{
											<td class="product-price"><span class="amount font-weight-bold" style="color: red; font-weight: bold">Không chính xác</span></td>
										}
										else
										{
											<td class="product-price"><span class="amount font-weight-bold" style="color: #40AA54; font-weight: bold">Đã nạp</span></td>
										}
									</tr>
									}
								</tbody>
							</table>
						</div>
					</form>

					<div class="d-flex pt-5">
						<div class="m-auto">
							@await Component.InvokeAsync("Pager", Model)
						</div>
					</div>
				}
				else
				{
					<div class="mx-auto">
						<h3 class="text-danger text-center w-auto">Bạn chưa nạp tiền lần nào</h3>
					</div>

				}
			</div>
		</div>
	</div>
</div>