@using ChoNongSan.ViewModels.Responses

@model AccountVm

@{
    ViewData["Title"] = "Tài khoản";
}
<div class="tab-pane fade show active" id="account-dashboard" role="tabpanel" aria-labelledby="account-dashboard-tab">
    <div class="myaccount-dashboard">
        <p>
            @if (String.IsNullOrEmpty(Model.FullName))
            {
                Model.FullName = Model.UserName;
            }
            Xin chào <b>@Model.FullName</b> (Nếu bạn không phải @Model.FullName? vui lòng <a href="/User/Logout">
                Đăng xuất
            </a>)
        </p>
        <p>
            Từ trang tổng quát của tài khoản bạn có thể <a href="/User/Update">cập nhật thông tin</a>
            hoặc <a href="/User/ChangePass">mật khẩu</a> của mình một cách dễ dàng.
        </p>
    </div>

    <div class="myaccount-details">
        <form action="#" class="myaccount-form">
            <div class="myaccount-form-inner row">
                <div class="col-xl-4 col-md-4" style="display: inline; margin-top: 15px">
                    <div style="margin:auto"><img style="width:100px; height:100px; border-radius:50%" src="@Model.Avatar" /></div>
                    <div style="margin-top:15px">@Html.DisplayNameFor(model => model.Avatar)</div>
                </div>
                <div class="row col-xl-8 col-md-8" style="margin-top: 15px;">
                    <div class="col-xl-3 col-md-3" style=" font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                        <b style="margin-right:0%">@Html.DisplayNameFor(model => model.FullName)</b>
                    </div>
                    <div class="col-xl-9 col-md-9">
                        @Model.FullName
                    </div>
                    <div class="col-xl-3 col-md-3" style=" font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                        <b style="margin-right:0%">@Html.DisplayNameFor(model => model.PhoneNumber)</b>
                    </div>
                    <div class=" col-xl-9 col-md-9">
                        @Model.PhoneNumber
                    </div>
                    <div class="col-xl-3 col-md-3" style=" font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                        <b style="margin-right:0%">@Html.DisplayNameFor(model => model.Email)</b>
                    </div>
                    <div class="col-xl-9 col-md-9">
                        @Model.Email
                    </div>
                    <div class="col-xl-3 col-md-3" style=" font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                        <b style="margin-right:0%">@Html.DisplayNameFor(model => model.Address)</b>
                    </div>
                    <div class=" col-xl-9 col-md-9">
                        @Model.Address
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>