@using System.Globalization;
@using ChoNongSan.ViewModels.Common;
@using ChoNongSan.ViewModels.Responses;

@model ChoNongSan.ViewModels.Responses.PostVmChiTiet

@{
	ViewData["Title"] = "Chi tiết";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var id = ViewBag.AccountId;
	PageResult<ReviewVm> lsReview = ViewBag.LsReview;
}
<style>

	.single-product-content .wishlist-btn-wrap .btn:hover {
		background-color: #40AA54
	}
</style>
<main class="main-content">
	<div class="single-product-area section-space-y-axis-100 ">
		<div class="container">
			<input hidden value="@id" id="AccountId" />
			<input hidden id="posId" value="@Model.PostID" />
			<div class="row">
				<div class="slider-area col-lg-6">

					<!-- Main Slider -->
					<div class="swiper-container main-slider swiper-arrow with-bg_white d-flex align-items-center">
						@if (Model.ListImage.Count == 1)
						{
							<div class="swiper-slide" style="height:370px;width:555px">
								<img class="img-fluid rounded img-thumbnail" style="height:100%" src="@Model.ListImage[0]" alt="Inner Image">
							</div>
						}
						else
						{
							<div class="swiper-wrapper d-flex align-items-center">
								@foreach (var img in Model.ListImage)
								{
									<div class="swiper-slide " style="height:370px;width:555px">
										<img class="img-fluid rounded img-thumbnail d-flex mx-auto" style="height:100%" src="@img" alt="Inner Image">
									</div>

									<!-- Add Arrows -->
									<div class="swiper-button-next"></div>
									<div class="swiper-button-prev"></div>

								}
							</div>
							<!-- Add Pagination -->
							<div class="  swiper-pagination "></div>
						}
					</div>
				</div>

				<div class="col-lg-6 my-auto">
					<div class="product-thumb-with-content row">
						<div class="col-12 order-lg-1 order-2 pt-10 pt-lg-0 mx-auto">
							<div class="single-product-content ">
								<div class="price-box d-flex align-items-center justify-content-between ">
									<div class="d-inline-flex align-items-center">
										<img style="width:50px;height:50px;padding:1px" class="me-2 rounded-circle img-thumbnail" src="@Model.Avatar" />
										<div class="d-flex align-content-center" style="flex-direction:column">
											<b class="new-price font-weight-bold">@Model.NameAccount</b>
											<div class="d-flex align-items-center">
												<i class="me-2 bi bi-telephone"></i>
												<p class="mb-0">@Model.Phone</p>
											</div>
										</div>
									</div>
									<div class="w-auto d-flex me-lg-5 ms-2">
										<a name="@Model.PostID" href="javascript:void(0)" id="btnAddLove" style="padding:12px" class=" d-flex align-items-center border-danger btn btn-link rounded">
											<i style="color:red" class="pe-7s-like"></i>
										</a>
									</div>
								</div>

								<div class="my-3 price-box d-lg-flex align-items-center justify-content-between">
									<div class="d-flex align-items-center">
										<span class="title me-lg-2 me-1 font-size-16" style="font-weight:bold">Tiêu đề:</span>
										<span class="font-weight-lighter title my-auto" style="font-family:Arial,sans-serif">@Model.Title</span>
									</div>

									<div class="d-block">
										<div class="review-status">
											<p class="short-desc mb-0">(@lsReview.Items.Count() Đánh giá)</p>
										</div>
										<div class="rating-box">
											@if(Model.SoSao != 0.0) { 
												<p>Số sao: @Model.SoSao/5 <i class="bi bi-star-fill" style="color: #dc9a0e; font-size: x-large"></i></p>
											}
											
										</div>
									</div>
								</div>

								<div class="d-flex align-items-center justify-content-between">
									<div class="d-flex align-items-center">
										<span class="title pe-2 font-size-16" style="font-weight:bold">Mô tả:</span>
										@if (string.IsNullOrEmpty(Model.Description))
										{
											<p class="short-desc my-2">Người bán không nhập mô tả</p>
										}
										else
										{
											<p class="short-desc my-2">@(Model.Description)</p>
										}
									</div>
								</div>

								<div class="row-cols-1 d-lg-flex align-items-center justify-content-between my-2">
									<div class="ps-0 col-auto d-flex align-items-center mb-2">
										<span class="title pe-lg-2 font-size-16" style="font-weight:bold">Khối lượng:</span>
										<span class="new-price text-dark">@(Model.WeightNumber)/@(Model.WeightName)</span>
									</div>
									<div class="pe-0 col-auto d-flex align-items-center ">
										<span class="title pe-2 font-size-16" style="font-weight:bold">Giá:</span>
										<strong class="new-price font-weight-bold" style="color: #d0021b; ">@(Model.Price.Value.ToString("C0", CultureInfo.GetCultureInfo("vi-VN"))) / @Model.WeightName</strong>
									</div>
								</div>

								<div class="mb-2 d-lg-flex align-items-center justify-content-between">
									<div class="d-flex align-items-center mb-2">
										<span class="title pe-lg-2 " style="font-weight:bold">Danh mục :</span>
										<p class="mb-0">@Model.CatName</p>
									</div>
									<div class="d-flex align-items-center">
										<i class="me-2 bi bi-calendar3"></i>
										<p class="mb-0">@(Model.TimePost.Value.ToString("HH:mm dd/MM/yyyy"))</p>
									</div>
								</div>
								<div class="d-flex align-items-center mb-2">
									<i class="me-2 bi bi-geo-alt-fill"></i>
									<p class="m-0">@Model.Address</p>
								</div>
								<div class="d-lg-flex align-items-center justify-content-between mb-2">
									<div class="justify-content-between d-flex">
										<div class="d-flex align-items-center">
											<img style="height:30px" class="me-lg-2 me-1" src="~/assetsKH/icon/icon-giao-hang.png" />
											@if (Model.IsDeliver == true)
											{
												<p class="m-0">Có</p>
											}
											else
											{
												<p class="m-0">Không</p>
											}
										</div>
										<div class="d-flex align-items-center me-5">
											<img class="mx-lg-2 ms-1" style="height:30px" src="~/assetsKH/icon/icon-chatluong-removebg.png" />
											<p class="m-0">@Model.Quality</p>
										</div>
									</div>

									<div class="d-flex align-items-center">
										<span class="title me-lg-2 me-1" style="font-weight:bold">Hạn bảo quản:</span>
										<p class="m-0">@(Model.Expiry) ngày</p>
									</div>
								</div>
								<div class="d-flex align-items-center mb-2">
									@if (ViewBag.Check == 0)
									{
										<button type="button" class="mx-auto mt-10 btn btn-primary" style="background-color:#40AA54" data-toggle="modal" data-target="#exampleModal">
											Tạo lịch hẹn
										</button>
									}
									else if (ViewBag.Check == 1)
									{
										<button type="button" class="mx-auto mt-10 btn btn-link" style="border: 1px solid #40AA54; color:#40AA54">
											Bạn đã tạo lịch hẹn rồi
										</button>
									}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 mt-6">

					<h3 class="chucuatoi mb-1">@lsReview.Items.Count() Bình luận</h3>
					<hr />
					<div class="product-review-body pt-0">

						<ul class="user-info-wrap">
							@if (lsReview.Items.Count() != 0)
							{
								foreach (var item in lsReview.Items)
								{
									<li>
										<ul class="user-info">
											<li class="user-avatar" style="width:auto">
												<img src="@item.Avatar" style="width:80px; height:80px" class="mt-lg-4 rounded-circle img-thumbnail" alt="User Image" />
											</li>
											<li class="user-comment">
												<div class="rating-box">
													<ul>
														@for (var i = 1; i <= item.NumberOfReviews; i++)
														{
															<li><i class="bi bi-star-fill" style="font-size:x-large"></i></li>
														}
													</ul>
												</div>
												<div class="meta">
													<span><strong>@item.Name - </strong> @(item.Time.Value.ToString("HH:mm dd/MM/yyyy"))</span>
												</div>
												<p class="short-desc mb-0">
													@item.Contents
												</p>
											</li>
										</ul>
									</li>
								}
							}
						</ul>
					</div>
					<div class="d-flex pt-7">
						<div class="m-auto">
							@await Component.InvokeAsync("Pager", lsReview)
						</div>
					</div>
				</div>

				<div class="col-lg-6 my-auto">
					<div class="feedback-area pt-5">
						<h2 class="chucuatoi mb-1">Đánh giá và nhận xét về tin đăng</h2>
						<hr />
						<div class="rating-box">
							<span>Bạn đánh giá mấy sao ?</span>
							<ul id="fcSao" class="ps-4">
								<li class="d-flex align-items-center">
									<a id="1" href="javascript:void(0)" class="danhgia">
										<i class="pe-7s-star" style="font-size:x-large"></i>
									</a>
								</li>
								<li class="d-flex align-items-center">
									<a id="2" href="javascript:void(0)" class="danhgia">
										<i class="pe-7s-star" style="font-size:x-large"></i>
									</a>
								</li>
								<li class="d-flex align-items-center">
									<a id="3" href="javascript:void(0)" class="danhgia">
										<i class="pe-7s-star" style="font-size:x-large"></i>
									</a>
								</li>
								<li class="d-flex align-items-center">
									<a id="4" href="javascript:void(0)" class="danhgia">
										<i class="pe-7s-star" style="font-size:x-large"></i>
									</a>
								</li>
								<li class="d-flex align-items-center">
									<a id="5" href="javascript:void(0)" class="danhgia">
										<i class="pe-7s-star" style="font-size:x-large"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="feedback-form pt-3">
							<div class="form-field mt-6">
								<textarea id="message" placeholder="Nhập nội dung đánh giá" class="textarea-field"></textarea>
							</div>
							<div class="button-wrap mt-8">
								<button id="btnDanhGia" type="button" class="px-7 py-2 d-flex mx-auto btn-success btn-secondary-hover rounded">Gửi</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title chucuatoi" id="exampleModalLabel">Đặt lịch hẹn</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group mb-3">
					<label for="exampleInputPassword1">Số điện thoại</label>
					<input type="text" class="form-control" id="phone" placeholder="Nhập số điện thoại">
				</div>
				<div class="form-group  d-lg-flex justify-content-between">
					<div class="col-auto mb-3">
						<label for="exampleInputPassword1">Ngày</label>
						<input type="date" class="form-control" id="date" placeholder="Password">
					</div>
					<div class="col-auto">
						<label for="exampleInputPassword1">Thời gian</label>
						<input type="time" class="form-control" id="time" placeholder="Password">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
				<button type="button" id="btnSubmit" style="background-color:#40AA54" class="btn btn-primary">Đặt</button>
			</div>
		</div>
	</div>
</div>

@section Scripts{

	<script type="text/javascript">
		let sao = 0;

		$(document).ready(function () {

			var postId = $('#posId').val();
			var nguoiTao = $('#AccountId').val();
			$('.danhgia').click(function () {
				//reset lại cho sao trống
				for (var i = 1; i <= 5; i++) {
					document.getElementById(i).innerHTML = '<i class="pe-7s-star" style="font-size:x-large"></i>';
				}

				var id = this.id;
				sao = this.id;
				for (var i = 1; i <= id; i++) {
					document.getElementById(i).innerHTML = '<i class="bi bi-star-fill" style="font-size:x-large"></i>';
				}

			});

			$('#btnSubmit').click(function () {
				var date = $('#date').val();
				var time = $('#time').val();
				var phone = $('#phone').val();

				var regex = new RegExp(/^((09|03|07|08|05)((\d){8}))$/);
				if (!regex.test(phone)) {
					alert("Số điện thoại không đúng định dạng");
					$('#phone').focus();
					return;
				}
				if (phone.trim() == "") {
					alert("Vui lòng nhập số điện thoại của bạn");
					$('#phone').focus();
					return;
				}
				if (date == "") {
					alert("Vui lòng chọn ngày gặp mặt");
					$('#date').focus();
					return;
				}
				if (time == "") {
					alert("Vui lòng chọn giờ gặp mặt");
					$('#time').focus();
					return;
				}

				var lichhen = {
					"date": date,
					"time": time,
					"postId": postId,
					"phone": phone,
					"nguoiTaoLich": nguoiTao
				}
				document.getElementById("btnSubmit").type = 'submit';
				$.ajax({
					type: "POST",
                    url: '@Url.Action("CreateMeet", "QuanLyTinDang")',
                    contentType: 'application/json',
                    data: JSON.stringify(lichhen),
                    dataType: 'json',
					success: function (result) {
						output = JSON.parse(result);
						if (output.status == "OK") {
							window.location = "/QuanLyTinDang/ChiTiet?postId=" + postId;
						} else {
							alert(output.message);
						}

                    }
				});
			});
		});

		$(function () {

			$('#btnDanhGia').click(function () {
				var noidung = $('#message').val().trim();
				var postId = $('#posId').val();
				var nguoiTao = $('#AccountId').val();
				if (noidung == "") {
					alert("Vui lòng nhận xét về tin này");
					$('#message').focus();
					return;
				}
				if (sao == 0) {
					alert("Vui lòng đánh giá về tin này");
					$('#fcSao').focus();
					return;
				}

				var danhgia = {
					"postId": postId,
					"accountId": nguoiTao,
					"noidung": noidung,
					"sao": sao,
				}
				document.getElementById("btnDanhGia").type = 'submit';

				$.ajax({
					type: "POST",
                    url: '@Url.Action("CreateReview", "DanhGia")',
					contentType: "application/json",
					data: JSON.stringify(danhgia),
                    dataType: 'json',
					success: function (result) {
						output = JSON.parse(result);
						if (output.status == "OK") {
							window.location = "/QuanLyTinDang/ChiTiet?postId=" + postId;
							//alert(output1.message);
						} else {
							alert(output.message);
						}

                    }
				});
			});

            $('#btnAddLove').click(function () {
                var a = $(this).attr('name');
                const id = $('#AccountId').val();
                if (id == 0) {
                    alert("Vui lòng đăng nhập để thêm tin");
                } else {
                    $.ajax({
                    type: 'post',
                    url: '@Url.Action("AddlovePost", "QuanLyTinDang")',
                    contentType: "application/json",
                    data: JSON.stringify(a),
                    dataType: "json",
                    success: function (result) {
                        output = JSON.parse(result);
                        alert(output.message);
                    }
                });
                }

            });
        });
	</script>
}