@model ChoNongSan.ViewModels.Responses.WeightVm

@{
    ViewData["Title"] = "Xóa đơn vị";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";}

<div class="col-md-6 col-12 mx-auto ">
    <h1 class="mb-0">Xóa đơn vị</h1>
    <hr class="mt-1 mb-5 border-dark" />
    @if (@TempData["ALertMessage"] != null)
    {
        <div class="alert alert-success" style="text-align:center">
            <h3>@TempData["ALertMessage"]</h3>
        </div>
    }
    <h3 class="my-5">Bạn có muốn xóa đơn vị này không?</h3>
    <form asp-controller="MgtWeight" asp-action="Delete" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label font-size-16 font-weight-bold mr-2">@Html.DisplayNameFor(x => x.WeightId):</label>
            @Model.WeightId
            <input hidden value="@Model.WeightId" asp-for="WeightId" />
        </div>
        <div class="form-group">
            <label class="control-label font-size-16 font-weight-bold mr-2">@Html.DisplayNameFor(x => x.WeightName):</label>
            @Model.WeightName
        </div>
        
        <div class="form-group mt-3">
            <div class="d-flex justify-content-between">
                <a asp-action="Index" class="btn btn-default">Quay lại</a>
                <input type="submit" class="btn btn-danger" value="Xóa" />
            </div>
        </div>
    </form>
</div>
