@using ChoNongSan.ViewModels.Common
@using ChoNongSan.ViewModels.Responses
@model PageResult<AccountVm>

@{
    ViewData["Title"] = "Quản lý CTV";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";}

<h1>Quản lý Cộng tác viên</h1>
<a class="btn btn-primary" role="button" asp-controller="MgtCtv" asp-action="Create">Thêm mới</a>
@if (@TempData["ALertMessage"] != null)
{
    <div class="alert alert-success" style="text-align:center; margin:30px 0">
        <h3>@TempData["ALertMessage"]</h3>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Tài khoản
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Đổi mật khẩu", "Edit", new { ctvId = item.AccountId }) |
                    @*@Html.ActionLink("Chi tiết", "Details", new { categoryId = item.CategoryID }) |*@
                    @Html.ActionLink("Xóa", "Delete", new { ctvId = item.AccountId })
                </td>
            </tr>
        }
    </tbody>
</table>
@await Component.InvokeAsync("Pager", Model)