@using System.Globalization;
@using ChoNongSan.ViewModels.Common
@using ChoNongSan.ViewModels.Responses

@model PageResult<PostVmTongQuat>

<style>
	button.hover-bong:hover {
		box-shadow: 0 5px 5px;
		color: #40AA54
	}
</style>

<h4 class="heading mt-3">Tin đang hiển thị</h4>
<hr />
@if (Model.TotalRecords == 0)
{
	<div style="display:flex" class="meta">
		<h3 style="margin:auto">
			<strong style="color:red">Không có tin nào trong mục này</strong>
		</h3>
	</div>
}
else
{
	@foreach (var item in Model.Items)
	{
		<div class="col-12 pt-6">
			<div class="product-item">
				<div class="product-img img-zoom-effect my-auto position-relative" style="width: 235px;">
					<a class="d-flex" asp-controller="QuanLyTinDang" asp-action="ChiTiet" asp-route-postId="@item.PostID">
						<img class="img-full img-thumbnail rounded " style=" height:240px" src="@item.ImageDefault" alt="Product Images">
					</a>
					<div class="position-absolute d-flex align-items-center" style="flex-direction:column;color:white;width:35px;height:25px;top:0; left:0" data-bg-image="/assetsKH/icon/number-image.svg">
						<p class="my-0" style="color:white;font-weight:lighter">@item.NumImg</p>
					</div>
				</div>
				<div class="product-content align-self-center">
					<div class="d-lg-flex py-2">
						<span class="">Tiêu đề: </span>
						<b>@item.Title</b>
					</div>
					<span class="product-name pb-2">@item.Description</span>
					<div class="price-box pb-1">
						<strong class="new-price font-weight-bold" style="color: #d0021b; ">@(item.Price.Value.ToString("C0", CultureInfo.GetCultureInfo("vi-VN"))) / @item.WeightName</strong>
					</div>
					<div class="rating-box pb-2">
						<ul>
							<li><i class="pe-7s-star"></i></li>
							<li><i class="pe-7s-star"></i></li>
							<li><i class="pe-7s-star"></i></li>
							<li><i class="pe-7s-star"></i></li>
							<li><i class="pe-7s-star"></i></li>
						</ul>
					</div>
					<div class="d-lg-flex justify-content-between">
						<p class="short-desc mb-0">
							@item.TimePost.Value.ToString("hh:mm dd/MM/yyyy")
						</p>
						<button id="@item.PostID" href="javascript:void(0)" class="hover-bong p-0 btn btn-link align-self-end mb-2 me-2" style="flex-direction:column">
							<img style=" height:35px" src="~/assetsKH/icon/btn-an-tin.png" />
						</button>
					</div>
				</div>
			</div>
		</div>
	}
}

<div style="display: flex" class="mt-6">
	<div style="margin:auto">
		@await Component.InvokeAsync("Pager", Model)
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title chucuatoi" id="exampleModalLabel">Ẩn tin đăng</h5>
				<button type="button" class="dong close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group mb-3">
					<label for="exampleInputPassword1">Bạn có muốn ẩn tin này không ?</label>
				</div>
			</div>
			<div class="modal-footer">

				<button type="button" class="dong btn btn-dark" style="color:white">Không</button>
				<button id="btnSubmit" type="submit" class="btn btn-success" style="color:white">Có</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	let id;
	$('.hover-bong').click(function () {
		$('#exampleModal').modal('show');
		id = this.id;
	});

	$('#btnSubmit').click(function () {
		//document.getElementById("btnSubmit").type = 'submit';
		$.ajax({
			type: "POST",
            url: '@Url.Action("HiddenPost", "QuanLyTinDang")',
            contentType: 'application/json',
            data: JSON.stringify(id),
            dataType: 'json',
			success: function (result) {
				output = JSON.parse(result);
				if (output.status == "OK") {
					window.location = "/QuanLyTinDang?ActiveTab=DaAn&byId=3";
				} else {
					alert(output.message);
				}
				
            }
		});
	});

	$('.dong').click(function () {
		$('#exampleModal').modal('hide');
	})
</script>