@using ChoNongSan.ViewModels.Common
@using ChoNongSan.ViewModels.Responses

@model PageResult<PostVmTongQuat>

<h4 class="heading mb-5">Tin bị từ chối</h4>
<hr />
@if (Model.TotalRecords == 0)
{
    <div style="display:flex" class="meta">
        <h3 style="margin:auto">
            <strong style="color:red">Không có tin nào trong mục này</strong>
        </h3>
    </div>
}
else
{
    @foreach (var item in Model.Items)
    {
        <div class="col-12 pt-6">
            <div class="product-item">
				<div class="product-img img-zoom-effect my-auto position-relative" style="width: 235px;">
					<a class="d-flex" asp-controller="QuanLyTinDang" asp-action="ChiTiet" asp-route-postId="@item.PostID">
						<img class="img-full img-thumbnail rounded " style=" height:240px" src="@item.ImageDefault" alt="Product Images">
					</a>
					<div class="position-absolute d-flex align-items-center" style="flex-direction:column;color:white;width:35px;height:25px;top:0; left:0" data-bg-image="/assetsKH/icon/number-image.svg">
						<p class="my-0" style="color:white;font-weight:lighter">@item.NumImg</p>
					</div>
				</div>
                <div class="product-content align-self-center">
                    <span class="product-name pb-2" >@item.Description</span>
                    <div class="price-box pb-1">
                        <span class="new-price">@(item.Price.Value.ToString("N0") +" VNĐ")</span>
                    </div>
                    <div class="rating-box pb-2">
                        <ul>
                            <li><i class="pe-7s-star"></i></li>
                            <li><i class="pe-7s-star"></i></li>
                            <li><i class="pe-7s-star"></i></li>
                            <li><i class="pe-7s-star"></i></li>
                            <li><i class="pe-7s-star"></i></li>
                        </ul>
                    </div>
                    <p class="short-desc mb-2">
                        @item.TimePost.Value.ToString("hh:mm dd/MM/yyyy")
                    </p>
                    <p class="short-desc mb-0">
                        <span style="font-weight:bold" class="text-danger">Lý do:</span>
                        @item.Reason
                    </p>
                </div>
            </div>
        </div>
    }
}

<div style="display: flex" class="mt-6">
    <div style="margin:auto">
        @await Component.InvokeAsync("Pager", Model)
    </div>
</div>