<!DOCTYPE html>
<html lang="zxx">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - ChoNongSan</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assetsKH/images/logo.png" />

    <!-- CSS
    ============================================ -->
    <!-- Vendor CSS (Contain Bootstrap, Icon Fonts) -->
    <link rel="stylesheet" href="~/assetsKH/css/vendor/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assetsKH/css/vendor/Pe-icon-7-stroke.css" />

    <!-- Plugin CSS (Global Plugins Files) -->
    <link rel="stylesheet" href="~/assetsKH/css/plugins/animate.min.css">
    <link rel="stylesheet" href="~/assetsKH/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assetsKH/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/assetsKH/css/plugins/nice-select.css">
    <link rel="stylesheet" href="~/assetsKH/css/plugins/magnific-popup.min.css" />

    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assetsKH/css/style.css">
</head>

<body>

    <div class="main-wrapper h-75">

        <!-- Begin Main Header Area -->
        <!-- Main Header Area End Here -->
        <!-- Begin Main Content Area -->
        <main class="main-content">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-6 mx-auto row pt-10 w-auto">
                        <div class=" col-lg-12 px-0 mx-auto col-6 col-sm-auto mx-lg-auto pe-sm-0 row" >
                            <a href="/Home/Index" class="mx-lg-auto  px-0 col-lg-12  header-logo row mx-auto w-auto" >
                                <img class="col-12 mx-auto col-sm-3 col-lg-3 p-0  ml-sm-3 mx-sm-0 " style="height:33px; width:33px" src="~/assetsKH/images/logo.png" alt="Header Logo">
                                <h3 class="mx-auto col-12 p-0 w-auto col-sm-9 col-lg-9 text-center me-md-8 me-lg-0 pe-lg-0 my-auto pt-1 pe-sm-7 pe-md-10">ChoNongSan</h3>
                            </a>
                        </div>
                        <div class="mx-auto mt-lg-4 mx-lg-auto mt-lg-0 col-lg-auto col-6 ml-md-5 row m-0 my-sm-auto p-0" style="height:33px; width:auto">
                            <a class="ps-lg-0 ps-md-10 ms-md-8 ms-lg-0 w-auto p-0 ps-0 ps-md-10 ps-lg-0 mt-2" style="" href="/home/index">Trang chủ <i class="pe-7s-angle-right"></i></a>
                            <p class="w-auto p-0 mt-2 m-0" style="">@ViewBag.Title</p>
                        </div>

                    </div>
                </div>
            </div>
            
            <div class="login-register-area section-space-y-axis-20 my-10">
                <div class="container">
                    <div class="row" style="display:flex">

                        <div class="col-lg-6 pt-10 pt-lg-0 mx-auto" >
                            @if (@TempData["ALertMessage"] != null)
                            {
                                <div class="alert alert-success" style="text-align:center">
                                    <h5 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">@TempData["ALertMessage"]</h5>
                                </div>
                            }
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Main Content Area End Here -->
        <!-- Begin Footer Area -->
        <div class="footer-area">

            <div class="footer-bottom py-3" data-bg-color="#40AA54">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="copyright">
                                <span class="copyright-text text-white">© 2021 Phát triển bởi <i class="fa fa-heart text-danger"></i> VVT </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Area End Here -->
        <!-- Begin Scroll To Top -->
        <a class="scroll-to-top" href="">
            <i class="fa fa-chevron-up"></i>
        </a>
        <!-- Scroll To Top End Here -->
    </div>

    <!-- Global Vendor, plugins JS -->
    <!-- JS Files
    ============================================ -->
    <!-- Global Vendor, plugins JS -->
    <!-- Vendor JS -->
    <script src="~/assetsKH/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/assetsKH/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="~/assetsKH/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/assetsKH/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="~/assetsKH/js/vendor/jquery.waypoints.js"></script>

    <!--Plugins JS-->
    <script src="~/assetsKH/js/plugins/wow.min.js"></script>
    <script src="~/assetsKH/js/plugins/jquery-ui.min.js"></script>
    <script src="~/assetsKH/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/assetsKH/js/plugins/jquery.nice-select.js"></script>
    <script src="~/assetsKH/js/plugins/parallax.min.js"></script>
    <script src="~/assetsKH/js/plugins/jquery.magnific-popup.min.js"></script>

    <!--Main JS (Common Activation Codes)-->
    <script src="~/assetsKH/js/main.js"></script>
</body>
</html>